/* GENERAL STYLES */
body{
  font-family: 'Roboto', sans-serif;
}

.section{
  margin: 48px 0;
}

.bold{
  font-weight: bold;
}

.grayText{
  color: #6f6f6f;
}

.sectionTitle{
  font-weight: bold;
}

.sectionSubtitle{
  display: inline-block;
  margin-bottom: 24px;
  color: #6f6f6f;
}

.subsectionTitle{
  font-weight: bold;
  margin: 8px 0;
  font-size: 18px;
}

.subsectionSubtitle{
  margin: 0 0 24px 0;
}

.seeMore{
  color: #DB284E;
  text-decoration: none;
  float: right;
}

/* EDITOR CHOICE */
.editorItem{
  margin: 24px 0;
}

.editorProfile{
  width: 48px;
  height: 48px;
  object-fit:cover;
  border-radius: 100px;
  display: inline;
  position: relative;
  margin: 0 auto;
}

.editorDetails{
  display: inline;
  position: relative;
}

.editorName{
  display: block;
  font-weight: bold;
  margin:0;
}

.editorRole{
  display: block;
  font-size:10px;
  color: #6f6f6f;
}


/* ITEM CARD */
.productDescription{
  border: #d3d3d3 solid 1px;
  border-radius: 8px;
  padding: 24px;
}

.itemImg{
  width: 100%;
  margin-bottom: 12px;
}



/* STAR RATING */
.rating{
  display: inline-block;
  margin-right: 10px;
}

/* BANNER BOX */
.bannerBox{
  background-color: #d3d3d3;
  text-align: center;
  margin: 24px auto;
  color:#424242;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  border: #000 solid 1px;
  white-space: pre-line;
}

.bannerBox p{
  margin:0;
}

/* ARTICLE */
.articleImage{
  width: 100%;
  object-fit: cover;
  border-radius: 16px;
}

/* GROUP CARD */
.groupCard{
  box-shadow: 0 0 15px 4px rgba(136, 136, 136, 0.3);
  border-radius: 8px;
  height:400px;
  padding: 50px;
  text-align: center;
}

.groupImage{
  width:70%;
  margin-bottom: 14px;
}

.cardIcon{
  margin: 0 20px;
  fill:#DB284E;
}

.groupSubtitle{
  margin: 20px 0;
}